html, body {
  overflow: hidden;
}

body {
  margin: 0;
  justify-content: center;
  display: flex;
  /*background-color: black;*/
  align-items: center;
  height: 100vh;
}

canvas {
  cursor:none
}

.controls {
  color: white;
  border-style: solid;
  border-radius: 10px;
  width: 30%;
}

.controls__slider {
  display: inline-block;
  margin: 3px;
  margin-left: 11%;
}
