html, body {
  overflow: hidden;
}

body {
  margin: 0;
  justify-content: center;
  display: flex;
  /*background-color: black;*/
  align-items: center;
  height: 100vh;
}

.controls {
  color: white;
  border-style: solid;
  border-radius: 10px;
  width: 30%;
}

.controls__slider {
  display: inline-block;
  margin: 3px;
  margin-left: 11%;
}

img {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 99;
}

canvas {
  position: fixed;
  top: 0px;
  left: 0px;
}

.parent {
  position: relative;
}
